.container {
    
    margin: 0 auto;
    padding: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-image: url('/busimage.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border:2px solid black;
}

.card-header h2 {
    margin: 0;
   padding:10px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(147, 156, 201);

}

.card-body {
    padding-top: 20px;
}

.add-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.station-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.station-table th, .station-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.station-table th {
    background-color: #f0f0f0;
}

.edit-btn, .delete-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: #dc3545;
}

.edit-btn:hover, .delete-btn:hover, .add-btn:hover {
    opacity: 0.8;
}
