@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;


}
*{
  font-family: "Imbue", serif;
}
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: left;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group .error-message {
  color: #ff0000;
}

.signup-link {
  text-align: center;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

select{
  width:100%;
  padding: 10px;
}


body {
  background-image: url('/busimage.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  
}

form {
  
}


/* managebuses design */

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-size-adjust: 20px;
}

.card-body {
  padding: 20px;
}

.bus-table {
  width: 100%;
  border-collapse: collapse;
}

.bus-table th,
.bus-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.bus-table th {
  background-color: #007bff;
  color: #fff;
}

.bus-table td:last-child {
  text-align: center;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-btn {
  background-color: #28a745;
  color: #fff;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}
.add-btn {
  background-color: #dee2e6;
  padding: 6px 12px;
  border-color:black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* inserting the add button in a right side  */
  float: right;
/* Adding margin between the addbutoon and the bustable */
  margin-bottom: 10px;
}

.add-btn:hover {
  background-color: #0056b3;
}
